<!-- <mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>Kanban Fire</span>
</mat-toolbar>

<mat-card class="item" *ngIf="task" (dblclick)="edit.emit(task)">
  <h2>{{ task.title }}</h2>
  <p>
    {{ task.description }}
  </p>
</mat-card>

<app-task *ngFor="let task of todo" [task]="task"></app-task> -->

<main class="main">

  <header class="header">
    <div class="header-content">
      <div class="header-title"></div>
      <div class="navigation">
        <menu type="toolbar">
          <button pButton pRipple label="Submit"></button>
        </menu>
      </div>
    </div>
  </header>

  <div class="card">
    <h5>Severities</h5>
    <div class="flex flex-wrap gap-2">
      <button pButton pRipple type="button" label="Primary"></button>
      <button pButton pRipple type="button" label="Secondary" class="p-button-secondary"></button>
      <button pButton pRipple type="button" label="Success" class="p-button-success"></button>
      <button pButton pRipple type="button" label="Info" class="p-button-info"></button>
      <button pButton pRipple type="button" label="Warning" class="p-button-warning"></button>
      <button pButton pRipple type="button" label="Help" class="p-button-help"></button>
      <button pButton pRipple type="button" label="Danger" class="p-button-danger"></button>
    </div>
  </div>

</main>
