$EerieBlack: #1B1B1B;
$RaisinBlack: #272727;
$Jet: #292929;
$Jet2: #2A2A2A;
$Onyx: #3B3B3B;
$Black: #000000;
$White: #FFFFFF;
$GraniteGray: #606060;
$Independence: #48435C;
$BlueBell: #9792E3;

.main {
  // width: 100vw;
  // height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // overflow: hidden;
  // background-color: $EerieBlack;
}
